.feature-box {
    background-color: rgba($color-white, .8);
    font-size: 1.5rem;
    padding: 2.5rem;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(black, .15);
    transition: transform .3s;
    text-align: center;
    height: 40%;   
    
    &__icon {
     font-size: 6rem;
     margin-bottom: .5rem;
     display: inline-block;
     background-image: linear-gradient(to right,$color-blue-middle, $color-primary);
     -webkit-background-clip: text;
    color: transparent;
    }

    &:hover {
        transform: translateY(-1.5rem) scale(1.03);
    }

    &__list {
        list-style-type: none;
        padding: 2.5rem;
         
        li > a {
            text-decoration: none;
            color: $color-primary;

        }

    }
}