// colors 
$color-primary: #162447f8;
$color-gray: #777;
$color-white:  #fff;
$color-blue-middle: #549fb8;
$color-blue-light:  #dbe2ef;

// different pink 
$color-pink-light: #de95ba;
$color-pink-dark: #8378A3;


// different green
$color-green-light: #d4f3ef;
$color-green-dark: #235952;

// GRID SYSTEM
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// FONT-SIZE
$default-font-size: 1.6rem;