.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 3rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative; }

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.8); }
  .btn:hover::after {
    background-color: #fff; }

.btn:active {
  transform: translateY(-1px); }

.btn-white {
  background-color: #fff;
  color: #777; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .3s; }

.btn:hover::after {
  transform: scaleX(1.2) scaleY(1.4);
  opacity: 0; }

.btn--animated {
  animation: moveButton 0.5 ease-out 3s; }

@keyframes type {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes moveLeft {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes moveLeft {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; } }

@keyframes moveButton {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0);
    animation-duration: backwards; } }

.typing::after {
  content: "_";
  animation: type 0.5s infinite; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 10px; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 1rem;
    animation: moveLeft 4s ease-in forwards; }
  .heading-primary--sub {
    display: block;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 1rem;
    animation: moveRight 3s ease-in 3s forwards;
    padding-top: 5rem;
    padding-bottom: 2rem; }

body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  box-sizing: border-box; }

/* Header part */
.header {
  height: 100vh;
  background-image: linear-gradient(to right, #162447f8, rgba(0, 0, 0, 0.966)), url("../img/bg-main.jpg");
  background-size: auto, contain;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%); }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-35%, -50%);
    text-align: center; }
